<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
@import '../node_modules/bulma/css/bulma.css';

#app {
  padding: 2em;
}

.table {
  width: 100%;
}

.table td {
  vertical-align: middle;
}

.select, .select select, .select option {
  width: 100%;
}

</style>
