<template>
  <div class="home">
    <h1 class="title">Vue + Django - Todo list</h1>
    <div class="mb-5">
      <button class="button is-primary mr-5" @click="showTask(null)">Create task</button>
      <button class="button is-danger" @click="removeTasks()">Remove checked</button>
    </div>
    <div class="columns">
      <div class="column is-3">
        <div class="field">
          <label class="label">Filter by category</label>
          <div class="control">
            <div class="select">
              <select v-model="filterParam">
                <option value="Not chosen" selected>Not chosen</option>
                <option v-for="category in categories" :value="category">{{ category }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="field">
          <label class="label">Filter by category</label>
          <div class="control">
            <div class="select">
              <select v-model="sortParam">
                <option value="Not chosen">Not chosen</option>
                <option value="Important">Important things first</option>
                <option value="Unimportant">Unimportant things first</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6">
        <h2 class="subtitle">Todo list</h2>

        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Task title</th>
              <th>Priority</th>
              <th>Category</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="filteredTasks.length === 0">
              <td colspan="5">Nothing to show</td>
            </tr>
            <tr v-if="filteredTasks.length > 0" v-for="task in filteredTasks" v-bind:key="task.id">
              <td>
                <label class="checkbox">
                  <input v-model="task.checked" type="checkbox">
                </label>
              </td>
              <td><a @click="showTask(task.id)">{{ task.title }}</a></td>
              <td>{{ task.priority }}</td>
              <td>{{ task.category }}</td>
              <td>
                <button class="button is-small is-primary" @click="removeTask(task.id)">Complete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="column is-6">
        <div class="box" v-if="fields.type !== ''">
          <h2 class="title">{{ fields.type }}</h2>

          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input v-model="fields.task.title" class="input" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Priority</label>
            <div class="control">
              <div class="select">
                <select v-model="fields.task.priority">
                  <option v-for="priority in priorities" :value="priority">{{ priority }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Category</label>
            <div class="control">
              <div class="select">
                <select v-model="fields.task.category">
                  <option v-for="category in categories" :value="category">{{ category }}</option>
                </select>
              </div>
            </div>
          </div>

          <h2 class="subtitle mt-6">Subtasks</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th></th>
              </tr>
            </thead>
            <tbody v-if="fields.task.subtasks.length === 0">
              <tr v-if="fields.task.subtasks.length === 0">
                <td>Nothing to show</td>
              </tr>
            </tbody>
            <tbody >
              <tr v-for="subtask in fields.task.subtasks"  :key="subtask.id">
                <td>{{ subtask.title }}</td>
                <td v-if="fields.type !== 'Create'" class="is-flex is-justify-content-flex-end">
                  <button class="button is-small is-info" @click="removeSubtask(subtask)">Complete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 class="subtitle">Add subtask</h5>
          <label class="label">Title</label>
          <div class="columns">

            <div class="column is-10">

              <div class="control">
                <input v-model="fields.newSubtask.title" class="input" type="text">
              </div>
            </div>
            <div class="column is-2 d-flex">
              <button id="create-subtask" class="button is-info" @click="addSubtask()">Add</button>
            </div>
          </div>


          <div v-if="fields.type === 'Edit'">
            <button id="edit" class="button is-primary" @click="editTask(fields.task.id)">Edit</button>
          </div>
          <div v-if="fields.type === 'Create'">
            <button id="create" class="button is-primary" @click="addTask()">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

import axios from 'axios';

export default {
  name: 'Home',
  data() {
    return {
      sortParam: '',
      filterParam: '',
      categories: ['Home', 'Work', 'University'],
      priorities: ['Very important', 'Important', 'Unimportant', 'Routine'],
      tasks: [],
      fields: {
        type: 'Not chosen',
        task: {
          id: '',
          title: '',
          priority: '',
          category: '',
          subtasks: []
        },
        newSubtask: {
          title: ''
        },
        newSubtasks: []
      }
    }
  },
  mounted() {
    this.getTasks()
  },
  computed: {
    filteredTasks: function() {
      let filtered = null
      if (this.filterParam === '' || this.filterParam === 'Not chosen') {
        filtered =this.tasks;
      } else {
        filtered = this.tasks.filter(task => task.category === this.filterParam);
      }

      if (this.sortParam === '' || this.sortParam === 'Not chosen') {
        return filtered;
      } else {
        let sorted = filtered.sort((task1, task2) => {
          return this.categories.indexOf(task1.category) - this.categories.indexOf(task2.category);
        });

        if(this.sortParam === 'Important') {
          return sorted;
        } else if(this.sortParam === 'Unimportant') {
          return sorted.reverse();
        }
      }
    }
  },
  methods: {
    getTasks() {
      axios({
        method: 'get',
        url: 'http://127.0.0.1:8000/tasks/'
      }).then(response => {
        this.tasks = response.data;
        for (let task of this.tasks) {
          task['checked'] = false;
        }
      });
    },

    addTask() {
      if (this.fields.task.title) {
        axios({
          method: 'post',
          url: 'http://127.0.0.1:8000/tasks/',
          data: {
            title: this.fields.task.title,
            priority: this.fields.task.priority,
            category: this.fields.task.category,
          }
        }).then((response) => {
          let newTask = {
            'id': response.data.id,
            'title': this.fields.task.title,
            'priority': this.fields.task.priority,
            'category': this.fields.task.category,
          }

          if (this.fields.task.subtasks.length > 0) {
            let completed = []
            for (let subtask of this.fields.task.subtasks) {
              axios({
                method: 'post',
                url: 'http://127.0.0.1:8000/simple-tasks/',
                data: {
                  title: subtask.title,
                  main_task: response.data.id
                }
              }).then(response => {
                completed.push(response.data);
                if (completed.length === this.fields.task.subtasks.length) {
                  this.tasks.push(newTask);
                  this.showTask(newTask.id);
                  this.$forceUpdate();
                }
              });
            }
          } else {
            this.tasks.push(newTask);
            this.showTask(newTask.id);
          }
        });
      }
    },

    editTask(id) {
      axios({
        method: 'put',
        url: 'http://127.0.0.1:8000/tasks/' + id + '/',
        headers: {
          'Content-Type': 'application/json',
        },
        data: {
          title: this.fields.task.title,
          priority: this.fields.task.priority,
          category: this.fields.task.category,
        }
      }).then(() => {
        this.getTasks();
        this.showTask(id);
      });
    },

    removeTask(id) {
      axios({
        method: 'delete',
        url: 'http://127.0.0.1:8000/tasks/' + id
      }).then(() => {
        if (id === this.fields.task.id) {
          this.resetFields()
        }
        this.getTasks();
      });
    },

    removeTasks() {
      for (let task of this.tasks.filter(task => task.checked === true)) {
        this.removeTask(task.id);
      }
    },

    addSubtask() {
      if (this.fields.type === 'Edit' && this.fields.newSubtask.title !== '') {
        axios({
          method: 'post',
          url: 'http://127.0.0.1:8000/simple-tasks/',
          data: {
            title: this.fields.newSubtask.title,
            main_task: this.fields.task.id
          }
        }).then(response => {
          let newSubtask = {
            'id': response.data.id,
            'title': response.data.title,
            'main_task': response.data.main_task
          }
          this.tasks.filter(task => task.id === response.data.main_task)[0].subtasks.push(newSubtask);
          this.fields.newSubtask.title = '';
        });
      } else if (this.fields.type === 'Create') {
        this.fields.task.subtasks.push({
          title: this.fields.newSubtask.title
        });
        this.fields.newSubtask.title = '';
      }
    },

    removeSubtask(subtask) {
      axios({
        method: 'delete',
        url: 'http://127.0.0.1:8000/simple-tasks/' + subtask.id,
      }).then(response => {
        let task = this.tasks.filter(task => task.id === subtask.main_task)[0];

        axios({
          method: 'get',
          url: 'http://127.0.0.1:8000/simple-tasks?main_task=' + task.id
        }).then(response => {
          this.fields.task.subtasks = response.data;
          this.$forceUpdate();
        });
      });
    },

    showTask(id) {
      if (id == null) {
        this.fields.type = "Create";
        this.fields.task = {
          id: '',
          title: '',
          category: '',
          priority: '',
          subtasks: []
        };
      } else {
        let task = this.tasks.filter(task => task.id === id)[0]

        axios({
          method: 'get',
          url: 'http://127.0.0.1:8000/simple-tasks?main_task=' + task.id
        }).then(response => {
          this.fields.type = "Edit";
          this.fields.task = task
          this.fields.task.subtasks = response.data;
        });
      }
    },

    resetFields() {
      this.fields.type = "Not chosen";
      this.fields.task = {
        id: '',
        title: '',
        category: '',
        priority: '',
        subtasks: []
      };
    }
  }
}
</script>
